<div [style]="{'margin-bottom': '24em', 'margin-top': '1em'}">
    <p-card header="Name" [style]="{'margin-left':'1.5em', 'width': '80rem','background':'rgb(210 222 249)', 'margin-bottom':'1em'}">
        asasdasdasdasdadad
    </p-card>
    <p-card header="Name" [style]="{'margin-left':'1.5em','width': '80rem','background':'rgb(210 222 249)', 'margin-bottom':'1em'}">
        asasdasdasdasdadad
    </p-card>
    <p-card header="Name" [style]="{'margin-left':'1.5em','width': '80rem','background':'rgb(210 222 249)', 'margin-bottom':'1em'}">
        asasdasdasdasdadad
    </p-card>
    
    
</div>