<div [style]="{'margin-bottom': '24em', 'margin-top': '1em'}">
    <p-card header="NAME"
        [style]="{'margin-left':'1.5em', 'width': '80rem','background':'rgb(210 222 249)', 'margin-bottom':'1em', 'height': '193px'}">
        <div>
            <div style="position: relative; top: -1em;">
                <p><b>Phone: </b></p>
                <p><b>Email: </b></p>
                <p><b>Address: </b></p>
            </div>
            <div style="float: right;">

                <button pButton [style]="{'bottom':'6em', 'right':'7em'}" pRipple type="button" icon="pi pi-pencil"
                    class="p-button-rounded"></button>
                <button pButton [style]="{'bottom':'6em', 'right':'6em'}" pRipple type="button" icon="pi pi-times"
                    class="p-button-rounded p-button-danger"></button>
            </div>
        </div>

    </p-card>
</div>