<p-toast></p-toast>
<div style="position: relative; margin-bottom: 4%; margin-top: 10%;">
    <div class="p-grid">
        <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
            <div class="p-fluid" style="margin-top: 35px; margin-left: 23%;">
                <form #contactForm="ngForm" id="contactForm" (ngSubmit)="addNewContact(contactForm)">
                    <div class="p-field p-grid block-div">
                        <label for="firstname" class="p-col-fixed" style="width:100px">First Name :</label>
                        <div class="p-col">
                            <span class="p-float-label">
                                <input id="fullName" #fullName (ngModel)="fullName" name="fullName"
                                    type="text" placeholder="Full Name" style="width: 40rem; height: 35px;">
                            </span><br>
                        </div>
                    </div>
                    <div class="p-field p-grid block-div">
                        <label for="phone" class="p-col-fixed" style="width:100px">Phone No :</label>
                        <div class="p-col">
                            <span class="p-float-label">
                                <input id="phone" #phone (ngModel)="phone" name="phone" type="tel"
                                    placeholder="Phone No" style="width: 40rem; height: 35px;">
                            </span><br>
                        </div>
                    </div>
                    <div class="p-field p-grid block-div">
                        <label for="email" class="p-col-fixed" style="width:100px">Email Id :</label>
                        <div class="p-col">
                            <span class="p-float-label">
                                <input id="email" #email (ngModel)="email" name="email" type="email"
                                    placeholder="Email Id" style="width: 40rem; height: 35px;">
                            </span><br>
                        </div>
                    </div>
                    <div class="p-field p-grid block-div">
                        <label for="address" class="p-col-fixed" style="width:100px">Address :</label>
                        <div class="p-col">
                            <span class="p-float-label">
                                <textarea rows="3" id="address" #address (ngModel)="address" name="address"
                                    placeholder="Address" pInputTextarea autoResize="autoResize"
                                    style="width: 40rem;"></textarea>
                            </span><br>
                        </div>
                    </div>
                    <div>
                        <p-button label="Add" type="Submit" [style]="{'width': '39.9rem', 'margin-left': '9.9%'}"></p-button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- <p-tabView >
        <p-tabPanel header="Add Contacts">
            <app-addcontacts></app-addcontacts>
        </p-tabPanel>
        <p-tabPanel header="Contacts List">
            <app-contacts-list></app-contacts-list>
        </p-tabPanel>
    </p-tabView> -->



<div class="card">
    
    <p-table [value]="dataSource" dataKey="id" editMode="row">
        <ng-template pTemplate="header">
            <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th style="width:8rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-element let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="element">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="element.fullName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{element.fullName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="element.address" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{element.address}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="element.email">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{element.email}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="element.phone">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{element.phone}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onClickEdit(element)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash"
                        (click)="onClickDelete(element.id)" class="p-button-rounded p-button-text p-button-danger"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onClickSave(element)"
                        class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onClickCancel(element, ri)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>