.contacts-body{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    
}
.user-avatar{
    float: right;
    margin-bottom: -49px;
    margin-top: -55px;
    margin-right: 61px;
}

.logout-button{
    float: right;
    margin-bottom: -49px;
    margin-top: -57px;
    margin-right: 156px;
}