.register-body{
    padding-top: 10%;
    padding-bottom: 7%;
    padding-left: 40%;
    padding-right: 36%;
    background-color: #697eab;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}